@import "../../../styles/settings.scss";

.component {
  padding: $base-size;
}

.tableOrder {
  margin-bottom: 120px;
}

h1 {
  text-align: center;
}

.header {
  color: inherit;
}

.table {
  min-width: 700px;
}
